body {
    margin: 0;
    background: #fff;
}
input:not([type=checkbox]),textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}
a:link {
    text-decoration: none;
    color: inherit;
}
:link:visited {
    color: #ff0000
} 
:link:hover {
    color: #ff00ff
}
:link:active {
    color: #0000FF
}
h1 {
    margin: 0;
}
#wrapper, #section_one, #section_grid {
    width: 80%;
}
#wrapper {
    margin: auto;
    overflow: auto;
    height: 100vh
}
#top_section {
    background-color: blue;
    height: 75px;
}
#logo {
    float: left;
}
#bmw {
    margin: auto
}
.container {
    display: flex;
    flex-direction: column;
}
#left_nav {
    width: 20%;
    background-color: blue;
    float: left;
    height: calc(100% - 75px)
}
#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
#left_nav a {
    display: block;
    padding: 20px;
}
.section {
    background-color: pink;
}
#section_one {
    float: right;
}
#section_grid {
    display: grid;
    grid-template-columns: 50% 50%;
}