@import 'resets';

.content {
    width: 80%;
    margin: auto;
}

.wrapper, .row {
    width: 100%;
    display: table;
}

@mixin grid-generator($size, $grid-cols) {
	@for $i from 1 through $grid-cols {
		.col-#{$size}-#{$i} {
			width: percentage($i / $grid-cols);
		}
	}
}

@mixin respond-from($media) {
	@if $media == xs {
		@media (min-width: 0px)  { @content; }
	} @else if $media == sm {
		@media (min-width: 768px) { @content; }
	} @else if $media == md {
		@media (min-width: 1200px) { @content; }
	} @else if $media == lg {
		@media (min-width: 1440px) { @content; }
	} @else if $media == xl {
		@media (min-width: 1800px) { @content; }
	}
}

@include grid-generator(xs, 12);

@include respond-from(sm) {
	@include grid-generator(sm, 12);
}

@include respond-from(md) {
	@include grid-generator(md, 12);
}

@include respond-from(lg) {
	@include grid-generator(lg, 12);
}

@include respond-from(xl) {
	@include grid-generator(xl, 12);
}

[class*='col-'] {
    float: left;
    padding: 12px;
}

.row:before, 
.row:after {
     content:"";
     clear:both;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

* {
    box-sizing: border-box;
}